/* style.css */
.index-one {
    padding:8px;
    margin:4px;
    border-color:red ;
    background-color:rgb(31, 98, 121);
}
.index-two{
color:white;
}
.body{
    background-color:lightblue;
    color:white;
    padding-bottom:800px;
}
.title {
    color: black;
}
